@import '../../../../../global.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input {
  @include input;
  flex: 1 1 40%
}

.btn {
  display: flex;
  justify-content: center;
}

.update {
@include buttonUpdate;
  padding: 5px;
  margin: 5px 5px 5px 0;
}

  .close {
    @include buttonClose;
    flex: 0 1 auto;
    color: red;
    align-self: center;
}