@import '../../../global.scss';

/* mobile */

.navbar {
    display: none;
}

@media (min-width: 1024px) {
    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid $border-menu;
        border-radius: 5px;
    }

    .linkBox {
        flex: 1 1 25%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & a {
            flex: 1 1 100%;
            margin: 10px;
            padding: 10px;
            background-color: $color-background;
            border-radius: 5px;
            text-align: center;
            color: $color-title;
        }
    }
}

@media (min-width: 1600px) {
    // .navbar a {
    //     height: 50px;
    // }
}