@import '../../global.scss';

/* mobile */
.overlay {
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}

.overlay.open {
    opacity: 1;
    z-index: 1;
}

.window {
    opacity: 0;
    z-index: -1;
    transform: scale(0.5);
    transition: 0.5s;
}

.window.open {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-background-opacity;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    width: fit-content;
    padding: 2%;
    background-color: $color-background;
    position: relative;
}

.close {
    font-size: $font-size-average;
    color: $color-background-light;
    position: absolute;
    top: -25px;
    right: -20px;
    padding: 0 2px;
    border: 2px solid $color-background-light;
    border-radius: 30%;
    cursor: pointer;
}