@import '../../../global.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    @include subtitle;
}

.text {
    @include text;
    text-align: center;
    margin: 0 0 5px 0;
}

.link {
    @include link;
    text-align: center;
}

.hideMessage,
.showMessage {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.5;
    background-color: $border-menu;
    color: $background-white;
    padding: 10px;
    top: 80px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: hideMessage 1s linear forwards;
  }
  
  @keyframes hideMessage {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .showMessage {
    animation: showMessage 1s linear forwards;
  }
  
  @keyframes showMessage {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }