@import '../../../global.scss';

/* mobile */

.container {
  margin: 10px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav {
  display: none;
}

.navMax {
  display: none;
}

.mainMenu {
  @include mainmenu;
  position: relative;
  display: inline-block;
  & ul {
    width: max-content;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & li {
      background-color: $background-white;
      border: 2px solid $border-menu;
      border-radius: 10px;
      padding: 5px 0 5px 5px;
      margin: 0 0 2px 0;
      &::after {
        content: '';
      }
      &:last-child {
        padding: 5px;
      }
      & a {
        color: $border-menu;
        &:hover {
          color: $color-title;
        }
      }
    }
  }
}

.subMenu {
  position: absolute;
  z-index: 2;
}

@media (min-width: 1024px) {
  .container {
    justify-content: space-between;
  }

  .mainMenu {
    & ul {
      top: 52px;
      flex-direction: row;
      & li {
        margin: 0 2px;
      }
    }
  }

  .nav {
    display: flex;
  }

  .mobileMenu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .navMax {
    display: flex;
  }

  .nav {
    display: none;
  }
}