@import '../../../global.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    @include subtitle;
    //margin: 0 0 5px 0;
}

.text {
    @include text;
    text-align: center;
}

.link {
    @include link;
}
