@import '../../../../../../../global.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & button {
    width: 100%;
  }
}

.input {
  @include input;
}

.textBlock {
    width: 100%;
    & textarea {
      width: 100%;
    }
}

.inputBlock,
.linkBlock,
.selectBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  & input {
    width: 100%;
  }
}

.inputBlock {
  padding: 3px;
  border: 1px solid black;
  margin: 5px 0;
}

.imgPreviews {
  width: inherit;
  & img {
    max-width: 100%;
    height: auto;
  }
}

.srcImgBlock {
  display: flex;
  flex-direction: row;
}

.linkBlock {
  flex-direction: row;
}

.uploadBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & button {
    max-width: 100px;
  }
  & input {
    @include button;
    width: auto;
    border: none;
  }
}

.selectBlock {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 0;
  & h3 {
    margin: 0 0 5px 0;
  }
}