@import '../../../../../../../global.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  & button {
    width: 100%;
  }
}

.input {
  @include input;
}

.textBlock {
    width: 100%;
    & textarea {
      width: 100%;
    }
}

.inputBlock,
.linkBlock,
.selectBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  & input {
    width: 100%;
  }
}

.inputBlock {
  padding: 3px;
  border: 1px solid white;
  margin: 5px 0;
}

.imgPreviews {
  width: inherit;
  margin: 0 0 5px 0;
}

.imgBlock {
  position: relative;
  & img {
    width: 100%;
    height: auto;
  }
  &:hover .close {
    opacity: 1;
  }
}

.close {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  background-color: gray;
  padding: 0 5px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.srcImgBlock {
  display: flex;
  flex-direction: row;
}

.linkBlock {
  flex-direction: row;
}

.uploadBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & button {
    max-width: 100px;
  }
  & input {
    @include button;
    width: auto;
    border: none;
  }
}

.selectBlock {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 0;
  & h3 {
    margin: 0 0 5px 0;
  }
}