@import '../../global.scss';

/* mobile */

.container {
    @include container;
    background-color: $background-white;
    flex: 1 1 auto;
    margin: 70px 0 0 0;
}

.contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
}
/* tablets */

@media (min-width: 1024px) {
    .container {
        margin: 75px 2% 0;
    }
}

@media (min-width: 1280px) {
    .container {
        margin: 80px 10% 0;
    }
}