@import '../../global.scss';

/* mobile */

.container {
    @include container;
    background-color: $background-white;
    flex: 1 1 auto;
}

.contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}
/* tablets */

@media (min-width: 768px) {
    .container {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 0 2%;
    }
}

@media (min-width: 1440px) {
    .container {
        margin: 0 10%;
    }
}