@import '../../../global.scss';

/* mobile */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    & h3:hover {
        color: $color-link-hover;
    }
    & h2 {
        text-align: center;
        margin: 0 0 20px 0;
    }
}

.categoryTitle {
    @include subtitle;
    text-align: center;
    text-transform: none;
}

/* tablets */

@media (min-width: 768px) {

}