@import '../../../../../global.scss';

.container {
  position: relative;
}

.form {
    display: flex;
    flex-direction: column;
  }

  .input {

    @include input;
  }

  .lang {
    display: flex;
    justify-content: space-around;
    margin: 5px 0 0 0;
  }

  p input {
    margin-right: 10px;
  }

  .close {
    @include buttonClose;
}