@import '../../global.scss';

/* mobile */

.container {
    @include container;
    align-items: center;
    justify-content: space-between;
}

.copyrightBox {
    display: flex;
    align-items: center;
}

.copyrightText {
    font-size: $font-size-little;
    color: rgba(255, 250, 250, 0.8);
    margin: 0 2px;
}

.copyrightBox img,
.socialLink img
{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
}

.socialLink {
    display: flex;
    align-items: center;
    & li::after {
        content: '';
    }
}

@media (min-width: 768px) {
    .container {
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 0 2%;
    }
}

@media (min-width: 1440px) {
    .container {
        margin: 0 10%;
    }
}