@import '../../../global.scss';

/* mobile */
.container {
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.select {
    margin: 0 0 10px 0;
    padding: 5px;
}

.input {
    @include input;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

button {
    @include button;
}

.main_button {
    align-self: center;
    margin-top: 10px;
    & > button {
        font-size: $font-size-normal;
        background-color: $color-link-hover;
    }
}

/* tablets */

@media (min-width: 768px) {}