@import '../../../../../global.scss';

.container {
  position: relative;
}

.form {
    display: flex;
    flex-direction: column;
  }

  .input {
    @include input;
  }

  .category {
    display: flex;
    justify-content: space-around;
  }

  button {
    @include button;
  }

  p input {
    margin-right: 10px;
  }

  .close {
    @include buttonClose;
}