@import '../../../../../global.scss';

.container {
  position: relative;
}

.form {
    display: flex;
    flex-direction: column;
  }

  .input {
    @include input;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h3 {
      margin: 5px 0;
    }
  }

  button {
    @include button;
  }

  p input {
    margin-right: 10px;
  }

  .close {
    @include buttonClose;
}