@import '../../../../../global.scss';

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.inputBlock {
  flex: 1 1 80%;
  display: flex;
}

.input {
  @include input;
  flex: 1 1 auto;
}

.update {
@include buttonUpdate;
  padding: 5px;
  margin: 5px 5px 5px 0;
}

  .close {
    @include buttonClose;
    flex: 0 1 auto;
    color: red;
    align-self: center;
}