@import '../../../../global.scss';

/* mobile */

.articleTitle {
    line-height: 1.5;
    text-transform: none;
}

.searchTitle {
    @include subtitle;
    text-align: center;
    text-transform: none;
}
/* tablets */

@media (min-width: 768px) {
    // .container {
    //     display: flex;
    //     flex-direction: row;
    // }
}