@import '../../../../../global.scss';

/* mobile */
.container {
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.input {
    @include input;
}

button {
    @include button;
}
/* tablets */

@media (min-width: 768px) {}